a {
    color: black;
}

a:hover {
    color: gray;
}

.blueBackgroundColor {
    background-color: blue;
}

.pinkBackgroundColor {
    background-color: pink;
}

.brownBackgroundColor {
    background-color: brown;
}

.yellowBackgroundColor {
    background-color: yellow;
}